.git
*swp
.DS_Store
dist
*.hi
*.o
data
_cache/
_site/
build
cabal-dev
site
benchmarks
demos/BNN_Flat
demos/Rosenbrock_Flat
demos/Himmelblau_Flat
demos/SPDE_Flat
sandbox
.cabal-sandbox
cabal.sandbox.config
.stack-work
debug
Examples
