<!doctype html>
<head>
  <meta charset="utf-8">

  <title>$title$</title>
  <meta name="jtobin.ca" content="">
  <meta name="Jared Tobin" content="">

  <!-- Place favicon.ico in root -->
  <!-- <link rel="shortcut icon" href="/favicon.ico"> -->

  <link rel="stylesheet" href="/css/style.css">

  <!-- Google analytics code -->
  <script type="text/javascript">
  
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22260080-1']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  
  </script>

</head>

<body>
  <div id="container">

    <header id="shead">
      <a id="sitelink" href="/">flat-mcmc</a>
      <a class="nav pull-right" href="http://hackage.haskell.org/package/flat-mcmc">hackage</a>
      <a class="nav pull-right" href="http://github.com/jtobin/flat-mcmc">github</a>
    </header>

    <div id="main">
      $body$
    </div>

  </div>
</body>

</html>
